html, body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    text-align: justify;
}
h1{
    font-size: 60px;
    font-family: Comic Sans MS;
    color: darkblue;
    text-align: center;
}
h4{
    font-style: italic;
    text-align: right;
}