html, body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    text-align: justify;
}
h1{
    font-size: 60px;
    font-family: Comic Sans MS;
    color: darkblue;
    text-align: center;
}
h4{
    font-style: italic;
    text-align: right;
}
.p1{
    color: orange;
}
.p1, .p2{
    text-align: center;
}
.p2{
    text-align: right;
    line-height: 25px;
}
.a1{
    color: white;
}